@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
.button-main {
  background-color: #0f1841;
  color: white;
  padding: 8px;
  border-radius: 6px;
  transition: all 0.3s;
}

.button-secondary {
  border-radius: 8px;
  padding: 8px;
  transition: all;
}

.button-main:hover,
.button-secondary:hover {
  scale: 90%;
}

/* Antd Spin */
.ant-spin .ant-spin-dot-item {
  background-color: white !important;
}

.ant-spin-nested-loading .ant-spin .ant-spin-text {
  color: white !important;
  text-shadow: none !important;
}

/* Antd Form */
.ant-form-vertical .ant-form-item-label>label {
  color: white !important
}


.glassmorphism {
  background-color: #292b2c;
  border-radius: 10px;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  opacity: 0.9;
}

.glassmorphism .text {
  color: #ffffff;
}