@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
.button-main {
    background-color: #0f1841;
    color: white;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.3s;
}

.button-secondary {
    border-radius: 8px;
    padding: 8px;
    transition: all;
}

.button-main:hover,
.button-secondary:hover {
    scale: 90%;
}